.mainWrapper{
    background-color: rgb(82, 138, 175);
    border-radius: 3px;
    max-width: 600px;
    max-height: 450px;
    padding: 20px;
    margin: auto;
}

.aiMessage{
    background-color: rgb(209, 242, 255);
    padding: 10px;
    border-radius: 8px;
}
.userMessage{
    background-color: rgb(0, 83, 161);
    padding: 10px;
    border-radius: 8px;
}

.questionField{
    border-radius: 5px;
    background-color: aliceblue;
    height: 20px;
    width: 100%;
    padding: 5px;
    
}