.filter{
    background-color: #ffffff4d;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    //padding: 14px 15px;
    font-family: 'Arial, sans-serif';
    padding-left: 5px;
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-size: 1em;
    outline: none,
}