.sortButton{
        background-color: rgba(255, 255, 255, 0.2);
        color: white;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 8px;
        padding: 10px 20px;
        margin-left: 20px;
        cursor: pointer;
        font-size: 14px;
        & option {
            background-color: #2a5174; 
            color: #fff;
            border-radius: 2em
            }
        //appearance: none
    }